.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 4px 4px 0 0;
}

.previewWindow {
  height: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  border: var(--border-md);
  border-radius: var(--radius-md);
}

.divider {
  width: 100%;
  height: 4px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0.75px 4px;

  & .dividerLine {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background: var(--primary);
    border-radius: var(--radius-md);
  }
}

.divider:hover {
  cursor: ns-resize;

  & .dividerLine {
    visibility: visible;
  }
}

.dividerActive {
  cursor: ns-resize;

  & .dividerLine {
    visibility: visible;
  }
}