.tagsContainer {
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 100%;
  border-bottom: var(--border-sm);

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--bg-scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg-scrollbar-thumb);

    &:hover {
      background-color: var(--bg-scrollbar-thumb-hover);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  & {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--bg-scrollbar-thumb) var(--bg-scrollbar); /* Firefox */
  }
}

.tag {
  padding: 2px 4px;
  cursor: pointer !important;
  -webkit-user-select: none;
  user-select: none !important;
  display: flex;
  border-bottom: var(--border-trans-lg);
  border-right: var(--border-sm);
  //transition: all 0.33s;
  align-items: center;
  flex-shrink: 0;
  gap: 4px;
}

.tag_active {
  background: var(--bg-card) !important;
  border-bottom: var(--border-primary-lg);
  color: var(--primary);
  //font-style: italic;
  //font-weight: 700;
}

.tag:hover {
  background: var(--bg-card-hover);
}

.closeIcon {
  border-radius: 100px;
  display: grid;
  grid: 1 1;
  transition: all 0.33s;
  justify-items: center;
  align-items: center;
  width: 22px;
  aspect-ratio: 1 / 1;
}

.closeIcon:hover {
  background: var(--bg-button-hover);
}

.tag>.closeIcon {
  visibility: hidden;
}

.tag:hover>.closeIcon {
  visibility: visible;
}

.tag_active>.closeIcon {
  visibility: visible;
}
