.light-theme {
  --background-color: rgba(248, 248, 248, 1);
  --background-color-tag-active: rgb(255, 255, 255);
  --border-color: rgba(0, 0, 0, 0);
  --background-color-hover: rgba(0, 0, 0, 0.1);
  --border-top-color-tag-active: #0B346E;
  --background-color-scrollbar: #f2f2f2;
  --background-color-scrollbar-thumb: #ccc;
  --background-color-scrollbar-thumb-hover: #999;
}

.dark-theme {
  --background-color: #21252b;
  --background-color-tag-active: #282c34;
  --border-color: rgba(0, 0, 0, 0);
  --background-color-hover: #323842;
  --border-top-color-tag-active: #b4b4b4;
  --background-color-scrollbar: #00000000;
  --background-color-scrollbar-thumb: #323842;
  --background-color-scrollbar-thumb-hover: #3d4450;
}

.tag {
  padding: 5px 7px 3px 10px;
  cursor: pointer !important;
  user-select: none !important;
  display: flex;
  //background: white;
  // background: rgba(248, 248, 248, 1);
  background: var(--background-color);
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.33s;
  align-items: flex-start;
  flex-shrink: 0;
}

.tagsContainer {
  display: flex;
  background: var(--background-color);
  overflow: auto;
  width: 100%;
  max-width: 100%;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--background-color-scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--background-color-scrollbar-thumb);

    &:hover {
      background-color: var(--background-color-scrollbar-thumb-hover);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  & {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--background-color-scrollbar-thumb) var(--background-color-scrollbar); /* Firefox */
  }
}

.tag_active {
  // background: rgb(240, 247, 253) !important;
  // background: rgb(255, 255, 255) !important;
  // border-top: 1px solid #0B346E;
  background: var(--background-color-tag-active) !important;
  border-top: 1px solid var(--border-top-color-tag-active);
}

.tag:hover {
  // background: rgba(0, 0, 0, 0.1);
  background: var(--background-color-hover);
}

.closeIcon {
  border-radius: 100px;
  margin: 0 0 0 2px;
  padding: 0 5px 3px 5px;
  transition: all 0.33s;
}

/* .closeIcon:hover {
  background: rgba(0, 0, 0, 0.1);
} */
