.tag_title_button {
  font-size: 90%;
  padding: 3px 7px 3px 7px;
  color: var(--bg-root);
  cursor: pointer;
  background: var(--primary);
  border-radius: var(--radius-md);
  transition: background-color 0.33s, border-left-color 0.33s;

  &:hover {
    background: var(--primary-90pct);
  }
}
