.title{
  font-weight: bold;
  color: var(--primary);
  padding: 10px 0 10px 15px;
}

.templateGraphicalEditor{
  padding: 0 5px 0 5px;
  overflow: auto;
  height: 100%;
}

.addStateWrapper{
  padding-left: 10px;
}
