.title {
  font-size: large;
  color: #8e354a;
  margin: 10px 0 5px 0;
  padding: 5px 5px 2px 5px;
  width: 100%;
  font-weight: bold;
}

.previewGameButton {
  color: white;
  background: linear-gradient(35deg, #B5495B 0%, #8e354a 100%);;
  padding: 0 5px 6px 5px;
  margin: 5px 0 5px 0;
  //border: 2px solid #8e354a;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  //font-size: larger;
}

.gameNameInput {
  outline-style: none;
  //font-size: ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #8e354a;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  width: 100%;
}

.gameNameInput:focus {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.optionContent {
  padding: 0 5px 0 5px;
  display: flex;
}