.previewTips {
  color: var(--primary);
  text-align: left;
}

.inlineIcon {
  padding: 4px;
  align-self: center;
  color: var(--primary);
  background: var(--primary-10pct);
  border-radius: var(--radius-md);
}