node_modules
.idea
/release/
/bundle/
yarn.lock
package-lock.json
.DS_Store
/terre-electron/
/output/
/tools/steamcmd/
/steam/app_build_*.vdf
/steam/depot_build_*.vdf
!/steam/app_build_TEMPLATE.vdf
!/steam/depot_build_TEMPLATE.vdf
packages/origine2/src/locales/en.js
packages/origine2/src/locales/ja.js
packages/origine2/src/locales/zhCn.js
packages/origine2/src/locales/en.ts
packages/origine2/src/locales/ja.ts
packages/origine2/src/locales/zhCn.ts
