.main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.sentenceEditorWrapper {
  display: flex;
  padding: 6px 12px 6px 12px;
  border-bottom: 4px solid var(--graphicalEditor-sentenceEditorWrapper-border-bottom);
  background: var(--graphicalEditor-sentenceEditorWrapper-background);
  color: var(--graphicalEditor-sentenceEditorWrapper);
  font-weight: bold;
  font-size: 90%;
}

.lineNumber {
  width: 2em;
  text-align: right;
  font-family: Consolas, monospace;
  box-sizing: border-box;
  padding: 9px 6px 0 0;
  font-weight: bold;
  color: var(--graphicalEditor-lineNumber);
}

.lineNumber > span > svg > path {
  stroke: var(--graphicalEditor-lineNumber);
}

.seArea {
  flex: 1;
}

.head {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 2px 0 4px 0;
}

.title {
  color: var(--terre-primary);
  padding: 1px 4px 0 0;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 100%;
}

.optionButtonContainer{
  margin-left: auto;
  opacity: 0;
  display: flex;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 2px 0;
}

.sentenceEditorWrapper:hover .optionButtonContainer{
  opacity: 1;
}

.optionButton {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 6px 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px 0 2px;
  //
  //&:first-child {
  //  border-left: 1px solid;
  //}
  transition: background-color 0.33s;
}

.optionButton:hover {
  background: var(--graphicalEditor-optionButton-hover-background)
}

.topBar {
  display: flex;
  align-items: center;
  padding: 8px 6px 6px 6px;
  box-sizing: border-box;
  justify-content: center;
}

.addWrapper{
  display: flex;
  align-items: center;
  padding: 30px 16px 30px 16px;
  box-sizing: border-box;
  justify-content: center;
}

.lineNumber > svg > path{
  stroke: var(--graphicalEditor-lineNumber);
}

.optionButton > span > svg > path{
  stroke: var(--iconPark-icon-fill);
}
