.main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.sentenceEditorWrapper {
  display: flex;
  color: var(--text-sub);
  font-weight: bold;
  font-size: 90%;
  flex-wrap: wrap;
}

.sentenceEditorContent {
  display: flex;
  background: var(--bg-card);
  width: 100%;
  padding: 0px 4px 4px 4px;
  border: var(--border-md);
  border-radius: var(--radius-md);
}

.lineNumber {
  width: 2em;
  text-align: right;
  font-family: Consolas, monospace;
  box-sizing: border-box;
  padding: 9px 6px 0 0;
  font-weight: bold;
  color: var(--text-sub);
}

.seArea {
  flex: 1;
}

.head {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 2px 0 0 0;
}

.title {
  color: var(--primary);
  padding: 0 4px 0 0;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  font-size: 100%;
}

.optionButtonContainer{
  margin-left: auto;
  opacity: 0;
  display: flex;
  border: var(--border-md);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
  // padding: 2px;
}

.sentenceEditorWrapper:hover .optionButtonContainer{
  opacity: 1;
}

.optionButton {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 4px;
  border-radius: var(--radius-md);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  //
  //&:first-child {
  //  border-left: 1px solid;
  //}
  transition: background-color 0.33s;
}

.optionButton:hover {
  background: var(--bg-button-hover)
}

.topBar {
  display: flex;
  align-items: center;
  padding: 8px 6px 6px 6px;
  box-sizing: border-box;
  justify-content: center;
}

.addWrapper{
  display: flex;
  align-items: center;
  padding: 30px 16px 30px 16px;
  box-sizing: border-box;
  justify-content: center;
}

.addForwardArea {
  height: 4px;
  width: 100%;
  position: relative;
}

.addForwardArea::after {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 4px;
  right: 4px;
  height: 2px;
  border-radius: var(--radius-md);
  background: var(--primary);
  transition: visibility 0.2s linear, opacity 0.2s linear;
  opacity: 0;
  visibility: hidden;
}

.addForwardAreaButtonGroup {
  position: absolute;
  top: -11.5px;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 0;
  z-index: 1;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  opacity: 0;
  visibility: hidden;
}

.addForwardAreaButton {
  background-color: var(--bg-card);
  border: var(--border-md);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
  // padding: 2px;
  height: max-content;
}

.addForwardArea:hover::after {
  opacity: 0.8;
  visibility: visible;
}

.addForwardArea:hover .addForwardAreaButtonGroup {
  opacity: 1;
  visibility: visible;
}

.sentenceEditorWrapper:hover .addForwardAreaButtonGroup {
  opacity: 1;
  visibility: visible;
}
