.componentNode {
  width: 100%;
  border: var(--border-md);
  border-radius: var(--radius-md);
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: var(--bg-button-hover);
  }
}

.classNode {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  border-radius: var(--radius-md);
  font-size: 95%;
  font-weight: 400;

  &:hover {
    background: var(--bg-button-hover);
  }
}

.classNodeActive {
  background: var(--bg-button-hover);
}