.sentenceEditorContent {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}

.editItem {
  display: flex;
  //align-items: center;
  align-items: stretch;
  margin: 4px 0 0 0;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}

.flex1 {
  flex: 1;
}

.sayInput {
  box-shadow: none;
  appearance: none;
  outline: none;
  background: var(--sentenceEditor-sayInput-background);
  border: 1px solid var(--sentenceEditor-sayInput-border);
  padding: 6px 6px 6px 6px;
  border-radius: 4px;
  font-size: 90%;
  width: 35%;
}

.sayArea {
  background: var(--sentenceEditor-sayArea-background);
  border: 1px solid var(--sentenceEditor-sayArea-border);
  width: 50%;
  font-family: inherit;
  box-shadow: none;
  outline: none;
  resize: none;
  padding: 6px 6px 6px 6px;
  border-radius: 4px;
  font-size: 90%;
  height: 2.5em;
  color: var(--sentenceEditor-sayArea);
}

.iconParkIcon > svg > path{
  stroke: var(--iconPark-icon-fill);
}

.iconSvg > svg > path:nth-child(1) {
  /* 你的样式，例如： */
  fill: var(--iconPark-icon-chooseFile-fill);
  stroke: var(--iconPark-icon-chooseFile-stroke-first);
}

.iconSvg > svg > path:nth-child(2) {
  /* 你的样式，例如： */
  stroke: var(--iconPark-icon-chooseFile-stroke-second);
}

.iconSvg > svg > path:nth-child(3) {
  /* 你的样式，例如： */
  stroke: var(--iconPark-icon-chooseFile-stroke-third);
}
