:root {
    --black: rgba(0, 0, 0, 1);
    --black-0pct: rgba(0, 0, 0, 0);
    --black-5pct: rgba(0, 0, 0, 0.05);
    --black-7pct: rgba(0, 0, 0, 0.07);
    --black-10pct: rgba(0, 0, 0, 0.1);
    --black-15pct: rgba(0, 0, 0, 0.15);
    --black-35pct: rgba(0, 0, 0, 0.35);
    --black-50pct: rgba(0, 0, 0, 0.5);
    --black-75pct: rgba(0, 0, 0, 0.75);
    --gray-dark: rgba(40, 44, 52, 1);
    --gray-51: rgba(51, 51, 51, 1);
    --gray-102: rgba(102, 102, 102, 1);
    --gray-153: rgba(153, 153, 153, 1);
    --gray-204: rgba(204, 204, 204, 1);
    --gray-242: rgba(242, 242, 242, 1);
    --gray-245: rgba(245, 245, 245, 1);
    --gray-248: rgba(248, 248, 248, 1);
    --blue-deep: rgba(0, 90, 158, 1);
    --blue-deep-20pct: rgba(0, 90, 158, 0.2);
    --blue-light: rgba(97, 218, 251, 1);
    --blue-ultra-light: rgba(250, 252, 255, 1);
    --blue-medium: rgba(0, 120, 212, 1);
    --blue-medium-10pct: rgba(0, 120, 212, 0.1);
    --blue-sky-50pct: rgba(47, 136, 255, 0.5);
    --blue-navy: rgba(11, 52, 110, 1);
    --white: rgba(255, 255, 255, 1);

    --primary: rgba(0, 92, 175, 1);
    --primary-5pct: rgba(0, 92, 175, 0.05);
    --primary-10pct: rgba(0, 92, 175, 0.1);
    --primary-90pct: rgba(0, 92, 175, 0.9);
    --success: rgb(16, 124, 16);
    --warning: rgb(247, 99, 12);
    --danger: rgb(197, 15, 31);
    --text: rgb(51, 51, 51);
    --text-sub: rgb(102, 102, 102);
    --text-weak: rgb(123, 123, 123);
    --bg-base: rgb(255, 255, 255);
    --bg-primary: var(--primary);
    --bg-root: rgb(250, 250, 250);
    --bg-card: rgb(255, 255, 255);
    --bg-card-hover: var(--black-5pct);
    --bg-button: rgb(255, 255, 255);
    --bg-button-hover: var(--black-5pct);
    --bg-input: rgb(248, 248, 248);
    --bg-divider: var(--black-10pct);
    --bg-scrollbar: var(--gray-242);
    --bg-scrollbar-thumb: var(--gray-204);
    --bg-scrollbar-thumb-hover: var(--gray-153);
    --border-sm: 0.5px solid var(--black-10pct);
    --border-md: 1px solid var(--black-10pct);
    --border-lg: 2px solid var(--black-10pct);
    --border-primary-sm: 0.5px solid var(--primary);
    --border-primary-md: 1px solid var(--primary);
    --border-primary-lg: 2px solid var(--primary);
    --border-danger-sm: 0.5px solid var(--danger);
    --border-danger-md: 1px solid var(--danger);
    --border-danger-lg: 2px solid var(--danger);
    --border-trans-sm: 0.5px solid transparent;
    --border-trans-md: 1px solid transparent;
    --border-trans-lg: 2px solid transparent;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 8px;
    --shadow-sm: 0 0.5px 1px var(--black-10pct);
    --shadow-md: 0 1px 2px var(--black-10pct);
    --shadow-lg: 0 2px 4px var(--black-10pct);
    --shadow-primary-sm: 0 0.5px 1px var(--primary-10pct);
    --shadow-primary-md: 0 1px 2px var(--primary-10pct);
    --shadow-primary-lg: 0 2px 4px var(--primary-10pct);
}

:root.dark {
    --black: rgb(255, 255, 255);
    --black-0pct: rgba(255, 255, 255, 0);
    --black-5pct: rgba(255, 255, 255, 0.05);
    --black-7pct: rgba(255, 255, 255, 0.07);
    --black-10pct: rgba(255, 255, 255, 0.1);
    --black-15pct: rgba(255, 255, 255, 0.15);
    --black-35pct: rgba(255, 255, 255, 0.35);
    --black-50pct: rgba(255, 255, 255, 0.5);
    --black-75pct: rgba(255, 255, 255, 0.75);
    --gray-dark: rgba(205, 208, 213, 1);
    --gray-51: rgba(204, 204, 204, 1);
    --gray-102: rgba(153, 153, 153, 1);
    --gray-153: rgba(102, 102, 102, 1);
    --gray-204: rgba(51, 51, 51, 1);
    --gray-242: rgba(13, 13, 13, 1);
    --gray-245: rgba(10, 10, 10, 1);
    --gray-248: rgba(8, 8, 8, 1);
    --blue-deep: rgba(122, 190, 255, 1);
    --blue-deep-20pct: rgba(122, 190, 255, 0.2);
    --blue-light: rgba(0, 128, 163, 1);
    --blue-ultra-light: rgba(0, 3, 10, 1);
    --blue-medium: rgba(133, 196, 255, 1);
    --blue-medium-10pct: rgba(133, 196, 255, 0.1);
    --blue-sky-50pct: rgba(128, 184, 255, 0.5);
    --blue-navy: rgba(199, 223, 255, 1);
    --white: rgb(0, 0, 0);

    --primary: rgb(89, 178, 255);
    --primary-5pct: rgba(89, 178, 255, 0.05);
    --primary-10pct: rgba(89, 178, 255, 0.1);
    --primary-90pct: rgba(89, 178, 255, 0.9);
    --text: rgb(223, 223, 223);
    --text-sub: rgb(150, 150, 150);
    --text-weak: rgb(123, 123, 123);
    --bg-base: rgb(0, 0, 0);
    --bg-root: rgb(24, 24, 24);
    --bg-card: rgb(30, 30, 30);
    --bg-button: rgb(40, 40, 40);
    --bg-input: rgb(40, 40, 40);
}

:root.dark ::-webkit-scrollbar {
    width: 8px;
    background: var(--bg-scrollbar);
}
:root.dark ::-webkit-scrollbar-thumb {
    background: var(--bg-scrollbar-thumb);
    border-radius: 4px;
}
:root.dark ::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scrollbar-thumb-hover);
}
:root.dark ::-webkit-scrollbar-corner {
    background: var(--bg-scrollbar);
}
