:root {
    --black: rgba(0, 0, 0, 1);
    --black-0pct: rgba(0, 0, 0, 0);
    --black-5pct: rgba(0, 0, 0, 0.05);
    --black-7pct: rgba(0, 0, 0, 0.07);
    --black-10pct: rgba(0, 0, 0, 0.1);
    --black-15pct: rgba(0, 0, 0, 0.15);
    --black-35pct: rgba(0, 0, 0, 0.35);
    --black-50pct: rgba(0, 0, 0, 0.5);
    --black-75pct: rgba(0, 0, 0, 0.75);
    --gray-dark: rgba(40, 44, 52, 1);
    --gray-51: rgba(51, 51, 51, 1);
    --gray-102: rgba(102, 102, 102, 1);
    --gray-153: rgba(153, 153, 153, 1);
    --gray-204: rgba(204, 204, 204, 1);
    --gray-242: rgba(242, 242, 242, 1);
    --gray-245: rgba(245, 245, 245, 1);
    --gray-248: rgba(248, 248, 248, 1);
    --blue-deep: rgba(0, 90, 158, 1);
    --blue-deep-20pct: rgba(0, 90, 158, 0.2);
    --blue-light: rgba(97, 218, 251, 1);
    --blue-ultra-light: rgba(250, 252, 255, 1);
    --blue-medium: rgba(0, 120, 212, 1);
    --blue-medium-10pct: rgba(0, 120, 212, 0.1);
    --blue-sky-50pct: rgba(47, 136, 255, 0.5);
    --blue-navy: rgba(11, 52, 110, 1);
    --white: rgba(255, 255, 255, 1);

    --primary: rgba(0, 92, 175, 1);
    --primary-5pct: rgba(0, 92, 175, 0.05);
    --primary-10pct: rgba(0, 92, 175, 0.1);
    --primary-90pct: rgba(0, 92, 175, 0.9);
    --text: rgb(51, 51, 51);
    --text-sub: rgb(102, 102, 102);
    --text-weak: rgb(153, 153, 153);
    --bg-base: rgb(255, 255, 255);
    --bg-root: rgb(248, 248, 248);
    --bg-card: rgb(255, 255, 255);
    --bg-card-hover: rgb(245, 245, 245);
    --bg-button: rgb(255, 255, 255);
    --bg-button-hover: rgb(240, 240, 240);
    --bg-divider: var(--black-10pct);
    --bg-scrollbar: var(--gray-242);
    --bg-scrollbar-thumb: var(--gray-204);
    --bg-scrollbar-thumb-hover: var(--gray-153);
    --border-sm: 1px solid var(--black-10pct);
    --border-md: 2px solid var(--black-10pct);
    --border-lg: 3px solid var(--black-10pct);
    --border-primary-sm: 1px solid var(--primary);
    --border-primary-md: 2px solid var(--primary);
    --border-primary-lg: 3px solid var(--primary);
    --border-trans-sm: 1px solid transparent;
    --border-trans-md: 2px solid transparent;
    --border-trans-lg: 3px solid transparent;
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 8px;
    --shadow-sm: 0 1px 2px var(--black-10pct);
    --shadow-md: 0 2px 4px var(--black-10pct);
    --shadow-lg: 0 3px 6px var(--black-10pct);
    --shadow-primary-sm: 0 1px 2px var(--primary-10pct);
    --shadow-primary-md: 0 2px 4px var(--primary-10pct);
    --shadow-primary-lg: 0 3px 6px var(--primary-10pct);
}
