.nav {
  top: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //box-shadow: 0 0 15px rgba(0,0,0,0.05);
  //line-height: 50px;
  z-index: 10;
  align-items: center;
  flex-flow: row;
}

.title {
  color: #8E354A;
  font-size: x-large;
  font-family: Georgia, serif;
  padding: 0 10px 0 0;
  //text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.titleIcon {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  border-radius: 50px;
}

.titleIcon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ejectButon {
  cursor: pointer;
  color: white;
  background: linear-gradient(35deg, #B5495B 0%, #8e354a 100%);
  padding: 5px 10px 5px 10px;
  margin: 0 20px 0 0;
  //border: 2px solid #8e354a;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}
