.tag_title_button {
  font-size: 90%;
  //margin: 0 0 0 5px;
  padding: 3px 7px 3px 7px;
  color: var(--terre-primary);
  cursor: pointer;
  //border-radius: 4px;
  border-left: 1px solid var(--common-tag_title_button);
  background: rgba(0, 92, 175, 0.1);
  border-radius: 4px;
  transition: background-color 0.33s, border-left-color 0.33s;

  &:first-child {
    border-left: 1px solid var(--common-tag_title_button-first-child-border-left);
  }

  &:hover {
    border-left: 1px solid var(--common-tag_title_button-hover-border-left);
    background: var(--common-tag_title_button-hover-background);
  }
}

body {
  //--sidebar-width: 384px;
}
