.tag_title_button {
  font-size: 90%;
  //margin: 0 0 0 5px;
  padding: 2px 5px 2px 5px;
  color: #005caf;
  //background: rgba(0,92,175,0.1);
  cursor: pointer;
  //border-radius: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 0.33s, border-left-color 0.33s;

  &:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0);
  }

  &:hover {
    border-left: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.1);
  }
}
