.fileElement {
  padding: 5px 5px 5px 10px;
  margin: 5px 0 0 0;
  //border-radius: 4px;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  height: 25px;
}

.fileElement:hover {
  //padding: 2px 4px 2px 4px;
  background: var(--sidebarComponents-fileElement-hover-background);
}

.fileElement_name {
  flex: 1;
  padding: 2px 0 2px 0;
  margin: 1px 0 1px 0;
}

.fileElement_icon {
  padding: 2px 3px 1px 0px;
  margin: 1px 1px 1px 0px;
  box-sizing: border-box;
}

.fileElement_interactable_icon {
  box-sizing: border-box;
  padding: 2px 3px 1px 2px;
  margin: 1px 1px 1px 1px;
  border-radius: 4px;
  transition: all 0.33s;
  cursor: pointer;
  display: none;
}

.fileElement:hover .fileElement_interactable_icon {
  display: block;
}

.fileElement_interactable_icon:hover {
  background-color: var(--sidebarComponents-fileElement-interactable-icon-hover-background);
}

.fileElement_interactable_icon>span>svg>path {
  stroke: var(--iconPark-icon-fill);
}