.iconColor{
  color: var(--primary);
  font-size: 25px;
  height: 25px;
  width: 25px;
}
.previewTips{
  color: var(--primary);
  text-align: left;
}

.tips{
  color: var(--primary);
  text-align: left;
  height: 100%;
  width: 400px;
  background: var(--primary-5pct);
  padding: 3px;
  border-radius: 4px;
}
