.iconColor{
  color: var(--primary);
  font-size: 25px;
  height: 25px;
  width: 25px;
}
.previewTips{
  color: var(--primary);
  text-align: left;
}

.tips{
  color: #9F353A;
  font-weight: bold;
  text-align: left;
  height: 100%;
  width: 400px;
  background: rgba(159, 53, 58, 0.05);
  padding: 3px;
  border-radius: 4px;
}
