.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.dirButtonContainer {
  //display: flex;
  //flex-flow: column;
  width: 100%;
  overflow: auto;
  flex: 1;
}

.icon_small {
  padding: 0 5px 5px 0;
  transform: translate(0, 3px);
  display: inline-block;
  position: relative;
}

.controlPanel {
  display: flex;
}

.upload {
  background-color: white;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
}

.dirButton {
  padding: 3px 5px 3px 5px;
  box-sizing: border-box;
  word-break: break-all;
  //border: 1px solid rgba(0,0,0,0.1);
  //box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin: 0 0 5px 0;
  //border-radius: 7px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100%;
}


.dirButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fileElement {
  padding: 3px 5px 3px 5px;
  box-sizing: border-box;
  word-break: break-all;
  //border: 1px solid rgba(0,0,0,0.1);
  //box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  margin: 0 0 5px 0;
  //border-radius: 7px;
  white-space: nowrap;
  overflow: hidden;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}

.fileElement:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  color: #8e354a;
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 10px;
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: calc(20vw - 35px);
}

.currentDirShow {
  padding: 1px 0 1px 5px;
  margin: 5px 0 2px 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  //border-radius: 7px;
  //box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  font-size: smaller;
}

.panelButton {
  padding: 2px 2px 2px 2px;
  margin: 2px 3px 2px 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  //border-radius: 7px;
  //box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;
  //border-radius: 5px;
}

.panelButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.uploadTitle {
  color: #8e354a;
  font-weight: bold;
  font-size: medium;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 5px 0;
}

.uploadButton {
  text-align: center;
  margin: 7px 30% 3px 30%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}