.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px 0 4px 4px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  gap: 8px;
  //margin-left: 4px;
}

.actionsBlock {
  width: 100%;
  background: var(--bg-card);
  border: var(--border-md);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2px;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  overflow: auto;
}

.actionButton {
  width: 100%;
  height: 28px;
  min-height: 28px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  display: flex !important;
  align-items: center;
  gap: 8px;
  justify-content: flex-start !important;
  font-size: 13px;
  font-weight: 400 !important;
  text-align: left;

  * {
    font-weight: 400 !important;
  }

  :global(.fui-Button__content) {
    flex: 0 1 auto;
    text-align: left;
  }

  :global(.fui-Button__icon) {
    width: 20px;
    min-width: 20px;
    display: inline-flex;
    justify-content: center;
  }
}

.title {
  //flex: 1;
  flex-grow: 1;
  //text-align: right;
  padding-right: 12px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 16px;
}

.componentTree {
  width: 100%;
  background: var(--bg-card);
  border: var(--border-md);
  border-radius: var(--radius-md);
}

.divider {
  width: 100%;
  height: 8px;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  box-sizing: border-box;

  & .dividerLine {
    visibility: hidden;
    height: 2px;
    width: 100%;
    border-radius: var(--radius-md);
  }
}

.divider:hover {
  cursor: ns-resize;

  & .dividerLine {
    visibility: visible;
    background: var(--primary);
  }
}

.dividerActive {
  cursor: ns-resize;

  & .dividerLine {
    visibility: visible;
    background: var(--primary);
  }
}

.assets {
  flex: 1;
  background: var(--bg-card);
  border: var(--border-md);
  border-radius: var(--radius-md);
  overflow: hidden;
  // min-height: 120px;
}
