.editor_sidebar {
  padding: 0 4px 4px 4px;
  width: var(--sidebar-width);
  text-align: left;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  position: relative;
  gap: 4px;
}

.preview_title {
  font-weight: bold;
  font-size: 115%;
  color: var(--primary);
}

.preview_container {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  position: relative;
  // width: calc(var(--sidebar-width) - 8px);
  // height: calc(calc(var(--sidebar-width) - 8px) / 16 * 9);
}

.previewWindow {
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  //margin: 4px 0 4px 0;
  border-radius: var(--radius-md);
  border: var(--border-md);
  aspect-ratio: 16 / 9;
}

.preview_container:hover .previewWindow {
  border-radius: var(--radius-md);
  border-top-right-radius: 0;
}

.gamePreviewButons {
  display: none;
  position: absolute;
  left: calc(var(--sidebar-width) - 8px);
  top: 0px;
  background: var(--bg-card);
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
  border: var(--border-md);
  border-left: none;
  box-shadow: var(--shadow-md);
  z-index: 999;
}

.preview_container:hover .gamePreviewButons {
  display: block;
}

.preview_top_title_container {
  display: flex;
  align-items: center;
}

.sidebarContent {
  flex: 1;
  overflow: auto;
  background: var(--bg-card);
  border-radius: var(--radius-md);
  border: var(--border-md);
}

.divider {
  height: calc(100% - 12px);
  width: 2.5px;
  background-color: transparent;
  position: absolute;
  top: 4px;
  cursor: ew-resize;
  right: 0.75px;
  transition: width 0.33s, background-color 0.33s;
  border-radius: var(--radius-md);
  background: transparent;
}

.divider:hover {
  background: var(--primary);
}

.divider:active {
  background: var(--primary);
}

.divider:active+.preview_container {
  pointer-events: none;
}

.editor_sidebar {
  -webkit-user-select: none;
  user-select: none;
}
