.editor_sidebar {
  //width: 30%;
  //min-width: 30%;
  padding: 8px;
  width: var(--sidebar-width);
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  position: relative;
  // margin-right: 2px;
}

.preview_title {
  font-weight: bold;
  font-size: 115%;
  color: var(--terre-primary);
}

.preview_container {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-flow: column;
  //max-height: 50%;
  //flex: 1;
  //height: calc(var(--sidebar-width) * (9 / 16));
  flex-shrink: 0;
}

.previewWindow {
  flex: 1;
  flex-shrink: 0;
  // min-height: calc(var(--sidebar-width) * (9 / 16));
  // height: calc(var(--sidebar-width) * (9 / 16));
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  //margin: 4px 0 4px 0;
}

.gamePreviewButons {
  display: none;
  position: absolute;
  left: calc(var(--sidebar-width) - 8px);
  top: 8px;
  background: #FFF;
  border-radius: 0 2px 2px 0;
  border: solid 1px #DDD;
  border-left: none;
  box-shadow: 1px 1px 1px #00000010;
}

.preview_container:hover .gamePreviewButons {
  display: block;
}

.gamePreviewButons>button:hover {
  background: #EEE;
}

.preview_top_title_container {
  display: flex;
  align-items: center;
}

.sidebarTab {
  background: none;
  padding-top: 8px;
}

.sidebarTab>input[type="radio"] {
  display: none;
}

.sidebarTab>input[type="radio"]+label {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  font-size: 90%;
  border-radius: 2px 2px 0 0;
}

.sidebarTab>input[type="radio"]:checked+label {
  background: #FFF;
  color: var(--terre-primary);
  font-weight: bold;
}

.sidebarContent {
  flex: 1;
  overflow: auto;
  background-color: #FFF;
  border-radius: 2px;
}

.divider {
  height: 100%;
  width: 2px;
  background-color: var(--editorSidebar-divider-background);
  position: absolute;
  top: 0;
  cursor: ew-resize;
  right: -2px;
  transition: width 0.33s, background-color 0.33s;
}

.divider:hover {
  width: 2px;
  background-color: var(--terre-primary);
}

.divider:active {
  width: 2px;
  background-color: var(--terre-primary);
}

.editor_sidebar {
  -webkit-user-select: none;
  user-select: none;
}

.livePreviewNotice {
  color: var(--terre-primary);
  margin: 5px;
  padding: 5px;
  background: var(--editorSidebar-livePreviewNotice-background);
  border-radius: 4px;
  font-size: 85%;
}