.TextBox_main {
z-index: 3;
position: absolute;
right: 25px;
min-height: 425px;
max-height: 425px;
background-blend-mode: darken;
border-radius: 20px 20px 20px 20px;
bottom: 20px;
left: 275px;
font-weight: bold;
color: white;
padding: 75px 50px 70px 200px;
box-sizing: border-box;
display: flex;
flex-flow: column;
align-items: flex-start;
letter-spacing: 0.2em;
transition: left 0.33s;
}

.TextBox_Background {
z-index: 2;
background: linear-gradient(transparent,rgba(0,0,0,.25) 25%,rgba(0,0,0,.35) 75%,rgba(0,0,0,.6)),linear-gradient(90deg,transparent 0,rgba(0,0,0,.35) 25%,rgba(0,0,0,.35) 75%,transparent);
&:hover {
}
&:active {
}}

.TextBox_textElement_start {
position: relative;
animation: TextDelayShow 1000ms ease-out forwards;
opacity: 0;
}

.outer {
position: absolute;
white-space: nowrap;
left: 0;
top: 0;
background-image: linear-gradient(#FFF 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
z-index: 2;
}

.inner {
white-space: nowrap;
position: absolute;
left: 0;
top: 0;
-webkit-text-stroke: 0em rgba(255, 255, 255, 1);
z-index: 1;
}

.zhanwei {
color: transparent;
white-space: nowrap;
}

.TextBox_textElement_Settled {
position: relative;
opacity: 1;
}

.TextBox_showName {
font-size: 85%;
padding: 0 2em 0 2em;
position: absolute;
left: 100px;
top: 15px;
height: 80px;
line-height: 68px;
border-radius: 0px 0px 0px 0px;
z-index: 3;
border: 4px solid rgba(255, 255, 255, 0);
min-width: 25%;
background: transparent;
}

.TextBox_ShowName_Background {
z-index: 2;
box-shadow: none;
background: transparent;
}

.miniAvatarContainer {
position: absolute;
height: 450px;
width: 450px;
bottom: 0;
left: -250px;
border-radius: 0px 0px 0px 0px;
overflow: hidden;
}

.miniAvatarImg {
max-height: 100%;
max-width: 100%;
position: absolute;
bottom: 0;
filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
position: absolute;
left: 2em;
top: -3.5em;
}

.outerName {
position: absolute;
left: 0;
top: 0;
background: linear-gradient(150deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(165, 212, 228) 100%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
z-index: 2;
}

.innerName {
position: absolute;
left: 0;
top: 0;
z-index: 1;
}

.text {
line-height: 1.9em;
overflow: hidden;
}

.TextBox_main_miniavatarOff {
left: 25px;

}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
