.assetsHead{
  display: flex;
  align-items: center;
}

.controlHead{
  display: flex;
  align-items: center;
  margin: 4px 0 0 0;
}

.controlCommonButton{
  padding: 3px 3px 3px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  cursor: pointer;
}

.controlDirnameDisplay{
  padding: 5px 5px 5px 10px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  flex:1;
  margin: 0 0 0 3px;
}

.commonFileButton{
  padding: 5px 5px 5px 10px;
  margin: 5px 0 0 0;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  flex:1;
  cursor: pointer;
}

.fileList{
  overflow: auto;
  margin: 3px 0 0 0;
}
