.assetsHead {
  display: flex;
  align-items: center;
}

.controlHead {
  display: flex;
  align-items: center;
  margin: 8px;
  gap: 4px;
  height: 25px;
}

.controlCommonButton {
  border: var(--border-sm);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all 0.33s;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlCommonButton:hover {
  background: var(--bg-button-hover);
}

.controlDirnameDisplay {
  padding: 0 0 0 10px;
  font-family: Consolas, "Courier New", monospace;
  border: var(--border-sm);
  border-radius: var(--radius-md);
  flex: 1;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  letter-spacing: .01em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // margin: 0 0 0 4px;
}

.commonFileButton {
  padding: 5px 5px 5px 10px;
  margin: 5px 0 0 0;
  //border-radius: 4px;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: var(--radius-md);
  height: 25px;
}

.commonFileButton:hover {
  background: var(--bg-button-hover);
}

.fileName {
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 6px;
}


.deleteButton {
  padding: 2px 2px 1px 2px;
  margin: 0 4px 0 0;
  border-radius: 4px;
  transition: all 0.33s;
  display: none;
}

.commonFileButton:hover .deleteButton {
  display: block;
}

.deleteButton:hover {
  background: var(--bg-button-hover);
}

.fileList {
  overflow: auto;
  // margin: 3px 0 0 0;
}

.uploadCallout {
  padding: 3px 9px 9px 9px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.fileUploadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.fileInput {
  display: none;
}

.fileSelectButton {
  background-color: var(--primary);
  color: var(--bg-root);
  padding: 8px 16px;
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin: 4px 0 0 0;
}

.fileSelectInput {
  width: 300px;
  border: var(--border-sm);
  border-radius: var(--radius-md);
  padding: 15px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.fileSelectInput:focus {
  border: var(--border-primary-sm);
  box-shadow: var(--shadow-primary-sm);
}

.extNameShow {
  background: var(--primary-5pct);
  color: var(--primary);
  padding: 1px 5px 4px 5px;
  border-radius: var(--radius-md);
  margin: 0 0 0 4px;
}

.iconParkIcon>svg>path {
  stroke: var(--text);
}