.title_wrapper{
  display: flex;
  align-items: center;
  padding: 5px 7px 5px 10px;
}

.title{
  font-size: 90%;
  color: var(--terre-primary-color);
  font-weight: bold;
}

.extra{
  display: flex;
  align-items: center;
  margin-left: auto;
}
