.main {
  padding: 5px 0 5px 0;
}

.topButtonList {
  padding: 0 0 0 0;
  display: flex;
  position: absolute;
  bottom: 5px;
  //border-bottom: 1px solid rgba(0,0,0,0.2);
  z-index: 10;
  width: 100%;
}

.topButton {
  padding: 5px 6px 2px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin: 10px 5px 5px 5px;
  border-radius: 500px;
  //background-color: #8e354a;
  color: #8e354a;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
  background: linear-gradient(135deg, #B5495B 0%, #8e354a 100%);
}

.topButton:hover {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.addSentencePanel {
  //width: 10vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  //padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  //bottom: 5px;
  //width: ;
}

.addSentencePanel_main {
  //width: 10vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  //padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  bottom: 5px;
  //width: ;
}

.addSentenceButton {
  padding: 3px 10px 5px 10px;
  margin: 3px 5px 3px 5px;
  cursor: pointer;
}

.addSentenceButton:hover {

  background-color: rgba(0, 0, 0, 0.15);
}

.sentenceList {
  overflow: auto;
  height: calc(100vh - 160px);
  width: 100%;
}

.sentence {
  display: flex;
  width: 100%;
  margin-top: 3px;
  animation: sentenceIn 0.5s;
  border-bottom: 7px solid #ebeef2;
}

.sentence:last-child {
  //border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.lineNumber {
  font-family: Consolas, serif;
  transform: translate(13px, 13px);
  color: rgba(0, 0, 0, 0.5);
  padding: 0 5px 0 0;
  font-size: medium;
  //font-weight: bold;
  width: 15px;
  text-align: left;
}

.sentenceMain {
  width: 76vw;
}

@keyframes sentenceIn {
  0% {
    opacity: 0.7;
    transform: scale(1, 1) translate(-15px, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.addItemIcon {
  transform: translate(0, 3px);
}