.propertyEditor {
  display: flex;
  align-items: center;
}

.propertyEditorText{
  //font-weight: bold;
  //color: var(--primary);
}

.tableHeadText{
  //font-weight: bold;
  color: var(--primary);
}

.propertyEditorMain{
  padding: 5px 10px;
}
