.main {
  width: 100%;
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

.singleMessage {
  //border: 1px solid;
  background-color: var(--singleMessage-background);
  font-size: 115%;
  color: var(--singleMessage);
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  min-width: 350px;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--singleMessage-box-shadow);
  border: 1px solid var(--singleMessage-border);
}
