.nav {
  position: fixed;
  width: 100vw;
  display: flex;
  height: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}

.title {
  color: #8E354A;
  font-size: x-large;
  font-family: Georgia, serif;
  padding: 0 10px 0 20px;
  //text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.subTitle {
  display: flex;
  align-items: center;
  color: #8E354A;
  //font-size: x-large;
  //font-weight: bold;
  //font-family: 思源宋体, serif;
  padding: 5px 10px 10px 20px;
  //text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.main {
  padding: 60px 10px 10px 10px;
}

.gameList {
  padding: 0 15px 5px 15px;
  display: flex;
  flex-wrap: wrap;
}

.singleGameEntryButton {
  padding: 10px 20px 10px 20px;
  margin: 5px 5px 5px 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: large;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.singleGameEntryButton:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.buttonIcon {
  padding: 0 10px 0 0;
}

.addTitle {
  font-size: 175%;
  font-weight: bolder;
  transform: translate(0, -3px);
}

.addIcon {
  position: relative;
  //color: #8E354A;
  padding: 5px 10px 5px 10px;
  //line-height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0 0 15px;
  font-weight: normal;
  color: #434343;
  border-radius: 4px;
  font-size: 105%;
}

.addIcon:hover {
  background: rgba(245, 246, 247, 1);
}

.createPanel {
  font-size: 16px;
  position: absolute;
  background-color: white;
  padding: 10px 15px 10px 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  top: 45px;
  left: 130px;
}

.createPanelTitle {
  font-weight: bolder;
  padding: 0 0 5px 0;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 5px 0;
}

.createPanelInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: 0;
  margin: 0 0 0 10px;
}

.createButton {
  color: #434343;
  font-size: 75%;
  padding: 3px 5px 3px 5px;
  margin: 15px 30% 0 30%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.createButton:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: rgba(245, 246, 247, 1);
}