.tab {
  display: flex;
  //overflow: auto;
}

.sidebar_tag_title {
  font-size: 115%;
  padding: 0.15em 0 0 0;
  font-weight: bold;
  color: var(--primary);
}

.sidebar_tag_head {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.sidebar_tag_head_button {
  margin: 0 0 0 auto;
}

.sidebar_gameconfig_title {
  color: #323130;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.sidebar_gameconfig_container {
  padding: 0.5em;
  margin: 4px 0;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-flow: column;
}

.tabItem {
  padding: 0;
  margin: 4px 0 4px 0.5em;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  //flex-flow: column;
  flex-shrink: 0;
}

.topbarTabItemContainer {
  display: flex;
  justify-content: center;
}

.divider {
  height: 90%;
  align-self: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 0.5em;
}

.tabItem:last-child {
  .divider {
    display: none;
  }
}

.textEditArea {
  display: block;
  //flex-flow: column;
  //align-items: center;
}

.editButton {
  display: inline-block;
  font-size: smaller;
  box-sizing: border-box;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: var(--primary);
  border-radius: var(--radius-md);
  cursor: pointer;
  margin: 0 0 0 0.25em;
}

.editButton:hover {
  background: var(--primary-10pct);
}

.addIcon {
  padding: 5px 5px 4px 5px;
  background: var(--primary-10pct);
  border-radius: var(--radius-md);
  cursor: pointer;
  margin: 0 10px 0 0;
}

.addIcon:hover {
  background: rgba(0, 92, 175, 0.15);
}

.imageChooseItem {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 0 5px 0 0;
  align-items: center;
  gap: 5px;
  border-radius: var(--radius-md);
}

.imageChooseItem:hover {
  background: var(--bg-button-hover);
}

.imageChooseItemImage {
  width: 96px;
  height: 54px;
  object-fit: cover;
}

.imageChooseItemText {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 0;
  flex: 1;
}
