.choosed {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.chooseBox {
  display: flex;
}

.chooseIcon {
  position: relative;
  margin: 0 0 0 0;
  padding: 3px 5px 3px 5px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 105%;
  cursor: pointer;
  flex-shrink: 0;
}

.chooseTitle {
  display: inline-block;
  transform: translate(0,-2px);
  padding: 0 0 0 5px;
}

.chooseIcon:hover {
  //box-shadow: 0 0 10px rgba(0,0,0,0.25);
  background-color: rgba(0, 0, 0, 0.15);
}

.fileList {
  width: 15vw;
  position: absolute;
  margin: 3px 0 10px 0;
  padding: 2px 7px 2px 7px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 10;
  height: 30vh;
  overflow: auto;
}

.singleFile {
  padding: 7px 3px 7px 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5px 0 5px 0;
  cursor: pointer;
  font-size: 100%;
}

.singleFile:last-child {
  border-bottom: none;
}

.singleFile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fileIcon {
  padding: 0 5px 0 0;
}
