.dashboard_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.dashboard_main {
  width: 100%;
  height: calc(100vh - 4.5em);
  display: flex;
  flex: 1;
}

.topBar {
  padding: 0.5em 0.5em 0.5em 0.75em;
  text-align: left;
  font-family: Georgia, serif;
  font-size: 150%;
  border-bottom: 1px solid var(--dashboard-topBar-border-bottom);
  color: var(--terre-primary-color);
  display: flex;
  align-items: center;
}
