.dashboard_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 0 4px 4px 4px;
}

.container_main {
  width: 100%;
  height: calc(100vh - 4.5em);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 4px;
}

.dashboard_main {
  width: 80%;
  height: calc(100vh - 4.5em);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background: var(--bg-card);
  border: var(--border-md);
  border-radius: var(--radius-md);
  padding: 4px;
}

.topBar {
  padding: 0 16px;
  font-family: Georgia, serif;
  font-size: 150%;
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabListContainer {
  padding: 0 20px;
}

.tabItem {
  padding: 10px 15px !important;
  margin-bottom: 10px;
  min-width: 130px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  > span {
    font-size: 18px;
  }
}

.active {
  > span {
    color: #005caf !important;
  }

  background-color: rgba(0, 0, 0, 0.05) !important;
}
