.gameElement {
  border-radius: 4px;
  cursor: pointer;
  width: 28em;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.15);
  transition: all 0.33s;
  display: flex;
}

.gameElement_container {
  margin: 0.65em 0.5em 0 0.5em;
  border-radius: 4px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.15);
  transition: all 0.33s;
  display: flex;
}