.gameElement_main {
  font-size: 105%;
  border-radius: var(--radius-md);
  cursor: pointer;
  text-align: left;
  border: var(--border-md);
  transition: all 0.33s;
  display: flex;
  flex-direction: column;
}

.gameElement_main:hover {
  background: var(--bg-card-hover);
  box-shadow: var(--shadow-md);
}

.gameElement_main:hover:has(.gameElement_action:hover) {
  background: none;
}

.gameElement_checked {
  outline: 3px solid var(--primary);
}

.gameElement_cover {
  height: auto;
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.gameElement_title {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

.gameElement_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
  gap: 0.5rem;
}

.gameElement_dir {
  font-size: medium;
  font-weight: 300;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gameElement_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}