.preview_main{
  flex: 1;
  display: flex;
  flex-flow: column;
}

.previewWindow {
  // flex: 1;
  max-height: calc(100vh - 10em);
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
}

.preview_title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  text-align: left;
  padding: 1em 1em 1em 1em ;
  color: var(--terre-primary);
}

.preview_title_text{
  font-size: 125%;
  padding: 0.1em 0 0 0;
  font-weight: bold;
}

.editGameButton{
  // margin: 0 0 0 auto;
  font-size: 100%;
  background: var(--terre-primary);
  color: var(--gamePreview-editGameButton);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0.25em 1em 0.25em 1em;
  cursor: pointer;
}

.noneChecked{
  font-size: 115%;
  padding: 1em 0 0 0;
  width: 100%;
  text-align: center;
  color: var(--gamePreview-noneChecked);
  flex: 1;
}
