.sidebar_main{
  width: 30%;
  min-width: 18rem;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.1);
  overflow-y: auto;
  padding-bottom: 1rem;
}

.sidebar_main_fullwidth {
  width: 100%;
}

.sidebar_top{
  display: flex;
  padding: 1em 1em 1em 1em;
  //border-bottom: 1px solid rgba(0,0,0,0.1);
}

.sidebar_top_title{
  font-size: 115%;
  padding: 0.15em 0 0 0;
  font-weight: bold;
  color: #005caf;
}

.createGameButton{
  margin: 0 0 0 auto;
  font-size: 100%;
  background: #005caf;
  color: white;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0.25em 1em 0.25em 1em;
  cursor: pointer;
}

.game_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr) );
  grid-gap: 0.5rem;
  margin: 0 1rem;
}
