.sidebar_main{
  width: 100%;
  min-width: 20rem;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.sidebar_main_fullwidth {
  width: 100%;
}

.sidebar_top{
  display: flex;
  padding: 1em 1em 1em 1em;
  justify-content: space-between;
}

.sidebar_top_title{
  font-size: 115%;
  padding: 0.15em 0 0 0;
  font-weight: bold;
  color: var(--primary);
}

.game_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr) );
  grid-gap: 0.5rem;
  margin: 0 1rem;
}
