.editor_topbar {
  display: flex;
  flex-flow: column;
  // border-bottom: var(--border-md);
  padding: 0 4px 0 4px;
}

.topbar_tags {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}

.topbar_btn {
  border: var(--border-trans-md);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  background: transparent;
  margin: 0;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  font-weight: 400;
  padding: 0 10px 0 10px;
  height: 30px;
  align-self: flex-end;
  transform: translateY(1px);
  text-wrap: nowrap;
}

.topbar_btn_active {
  color: var(--primary);
  background: var(--bg-card);
  font-weight: 700;
  border: var(--border-md);
  border-bottom: none;
}

.topbar_gamename {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  //padding: 4px 8px;
  //border-radius: 4px;
  flex:1;
  text-align: center;
  //background: var(--primary-5pct);
}

.topbar_btn_special {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  margin-left: 4px;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  font-weight: 400;
  padding: 0 10px 0 10px;
  height: 30px;
  align-self: flex-end;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: none;
  border-left: 2px solid transparent;
  background-image: linear-gradient(var(--bg-root), var(--bg-root)), linear-gradient(to bottom, rgba(0, 92, 175, 0.3), var(--bg-root)), linear-gradient(to bottom, rgba(0, 92, 175, 0.3), var(--bg-root));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  text-wrap: nowrap;
}

.topbar_btn_special_active {
  height: 32px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-bottom: none;
  background: var(--bg-card);
  font-weight: 700;
  transform: translate(0, 2px);

  .specialText {
    transform: translate(0, -1px);
  }
}

.topbar_btn_special_active_topbar_tags {
  //border-top: 2px solid var(--primary) !important;
}



