.editor_topbar{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.editor_title{
  font-size: 135%;
  color: #005caf;
  font-family: Georgia, serif;
  padding: 0.5em 0.5em 0.5em 0.35em;
  text-decoration: none;
}

.editor_editingGame{
  color: #005caf;
  padding: 0.2em 1em 0.2em 1em;
  background-color: rgba(0,92,175,0.1);
  border-radius: 2px;
}

.home_btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0.25em 0 0.5em;
  margin: 5px 1em 5px 1em;
  border-radius: 5px;
}

.home_btn:hover{
  background: rgba(0,0,0,0.075);
}
