.sentence {
  font-size: medium;
  padding: 5px 10px 5px 5px;
  box-sizing: border-box;
  //border: 1px solid rgba(0,0,0,0.2);
  //border-left: 2px solid #8e354a;
  // width: 76vw;
  // margin: 10px 10px 10px 10px;
  //border-radius: 5px;
  //box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.dialog_input {
  //font-size: small;
  flex: 1;
  outline-style: none;
  //border: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.singleOption {
  line-height: normal;
  padding: 3px 0 3px 0;
  margin: 3px 0 3px 0;
  display: flex;
  font-size: small;
}

.optionTitle {
  color: #434343;
  font-weight: bold;
  margin: 0 5px 0 0;
  //border-bottom: 2px solid #8e354a;
  padding: 3px 5px 3px 0;
}

.dialog_edit_title {
  color: #434343;
  font-weight: bold;
}

.optionContent {
  padding: 3px 5px 3px 5px;
}

.isolate {
  padding: 0 0 0 5px;
  margin: 0 5px 0 0;
}

.sentenceButtonList {
  display: flex;
  line-height: 0;
  flex-wrap: wrap;
}

$topHeight: 35px;
.sentenceButton {
  font-size: small;
  padding: 5px 7px 5px 7px;
  //border: 1px solid rgba(0,0,0,0.2);
  //border-radius: 5px;
  color: black;
  margin: 0 5px 0 0;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  $sentenceHeight: calc(35px - 1px);
  //height: $sentenceHeight;
  //line-height: $sentenceHeight;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  //background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.sentenceButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

$blockBorder: 1px solid rgba(0, 0, 0, 0);
$blockShadow: 3px 3px 7px rgba(0, 0, 0, 0);
$blockBgColor: rgba(254, 223, 225, 0);


.sentenceIndexShow {
  display: flex;
  color: #8e354a;
  //font-size: small;
  font-weight: bold;
  padding: 0 10px 0 10px;
  margin: 0 5px 0 0;
  // border-radius: 7px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
  height: $topHeight;
  line-height: $topHeight;
  transform: translate(0, -1px);
  flex-shrink: 0;
}

.barContainer {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  // border-radius: 7px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
  flex-grow: 1;
  //height: $topHeight;
  align-items: center;
  display: flex;
}

.mainEdit {
  margin: 3px 0 0 5px;
  // border-radius: 7px;
  padding: 2px 10px 5px 10px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
}

.topContainer {
  display: flex;
  padding: 3px 0 3px 5px;
  //border: 1px solid rgba(0,0,0,0.15);
  //box-shadow: 1px 1px 5px rgba(0,0,0,0.15) ;
  //height: $topHeight;
  margin: 0 0 2px 0;
}

