.titleText {
  color: #8e354a;
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 10px;
  font-size: larger;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: calc(20vw - 35px);
}

.scene {
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  width: 100%;
}

.scene:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.newSceneButton {
  width: 100px;
  text-align: center;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.newSceneButton:hover {
  background: rgba(0, 0, 0, 0.05);
}

.sceneList {
  margin: 5px 0 0 0;
}