//.addSceneButton {
//  display: flex;
//  align-items: center;
//  box-sizing: border-box;
//  padding: 3px 6px 3px 6px;
//  border-radius: 4px;
//  cursor: pointer;
//  margin: 0 4px 0 4px;
//}

.sentenceTypeButtonList {
  display: flex;
  flex-wrap: wrap;
}

.sentenceTypeButton {
  display: flex;
  flex: 0 0 270px;
  align-items: flex-start;
  padding: 6px 6px 6px 10px;
  box-sizing: border-box;
  background: var(--addSentence-sentenceTypeButton-background);
  border-radius: 4px;
  margin: 0 4px 6px 2px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.33s;
}

.sentenceTypeButton:hover {
  border: 1px solid var(--terre-primary);
  background: var(--addSentence-sentenceTypeButton-hover-background);
}


.buttonDesc{
  padding: 0 0 0 10px;
}

.title {
  font-size: 115%;
  font-weight: bold;
  color: var(--terre-primary);
}

.text{
  font-size: 90%;
}

.titleAdd {
  font-size: 115%;
  font-weight: bold;
  color: var(--terre-primary);
  text-align: left;
}

.addNewLargeWrapper{
  background: #fff;
  padding: 10px 20px;
}

.addNewLarge{
  margin-top: 20px;
  display: flex;
  background: #fff;
  justify-content: left;
  text-align: left;
  overflow: auto;
  max-width: 100%;

  &::-webkit-scrollbar {
    //width: 3px;
    height: 4px;
    background-color: var(--tagManager-tagsContainer-webkit-scrollbar-background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--tagManager-tagsContainer-webkit-scrollbar-thumb-background);

    &:hover {
      background-color: var(--tagManager-tagsContainer-webkit-scrollbar-thumb-hover-background);
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  & {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--tagManager-tagsContainer-Firefox-scrollbar-first) var(--tagManager-tagsContainer-Firefox-scrollbar-second); /* Firefox */
  }

}

.expandAllButton{
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--terre-primary);
  cursor: pointer;
}
