.item {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 6px 2px 2px;
  margin: 0 0 0 8px;
  display: flex;
  flex-flow: column;
}

.title {
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 95%;
}

.item:last-child {
  border-right: none;
}

.item:first-child {
  margin: 0 0 0 0;
}

.content {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
