.tips {
  background: var(--commonTips-tips-background);
  margin: 0 0 3px 0;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  color: var(--terre-primary-color);
  font-size: 90%;
  font-weight: normal;
}
