.item {
  padding: 6px 8px 6px 8px;
  //margin: 0 0 0 8px;
  display: flex;
  flex-flow: column;
  border-radius: var(--radius-md);
}

.item:hover{
  background: var(--bg-button-hover);
}

.title {
  text-align: left;
  color: var(--text-weak);
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 95%;
}

//.item:last-child {
//  border-right: none;
//}
//
//.item:first-child {
//  border-left: none;
//  margin: 0 0 0 0;
//}

.content {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
