.chooseFileTitle {
  font-weight: bold;
  padding: 8px 0 0px 8px;
}

.chooseFileContentWarpper {
  display: flex;
  flex-flow: column;
  height: 45vh;
  width: 32rem;
  gap: 4px;
}

.chooseFileFileListWarpper {
  flex: 1;
  overflow: auto;
}

.chooseFileFooterWarning {
  display: flex;
  flex-direction: row;
  color: var(--text-sub);
  padding: 2px 3px 2px 5px;
  gap: 4px;
  border-top: var(--border-sm);
}

.chooseFileFooterWarningIcon {
  color: var(--warning);
  padding-top: 3px;
}

.chooseFileFooterWarningText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chooseFileFooterWarningPath {
  display: flex;
  align-items: center;
  color: var(--text);
  white-space: pre;
}

.chooseFileFooterWarningCode {
  color: var(--text);
  border-radius: var(--radius-sm);
  background-color: var(--warning-75pct);
}