.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor {
  flex: 1;
  min-height: 0;
}

.invalid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-sub);
}
